body{
	margin:0;
	padding:0; 
	background-color: lightgrey;
}
#top1{
	height: 55px;
	background-color: #047BD5;
}
input[type=text]{
	width: 500px;
	padding: 10px 10px 0px 10px;
	border-color: white;
}
::placeholder {
  text-align: left;
}
.buttonone{
	background-color:white;
	color:#047BD5;
	padding: 5px 10px 5px 10px;
	width: 120px;
	font-style: bold;
	font-size: 15px;
	border-color: white;
	border-color: 0px 0px 0px 0px;
	font-family: 'Roboto', sans-serif;
}
#top2{
	height: 43px;
	background-color:white;
}
#art1{
	height:130px;
	background-color: #047BD5;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 7px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
#art2{
	
	margin-left: 5px;
	margin-right: 5px;
}
